<div class="container p-5">
<div class="border border-light rounded p-5">
        <button type="button" class="btn btn-sm btn-secondary">Novo Audio</button>
</div>
<hr>

<table class="table table-striped table-hover table-sm" *ngIf="audios">
<tr class="thead-light">

 <th>Arquivo Nome</th>
 <th>Tipo</th>
 <th>Operador Nome</th>
 <th>Data de Criacao</th>

</tr>

<tr *ngFor="let audio of audios">

  <td>{{ audio.ArquivoNome}}</td>
  <td>{{ audio.Tipo }}</td>
  <td>{{ audio.OperadorNome }}</td>
  <td>{{ audio.DataCriacao }}</td>

  <td>
    <button type="button" class="btn btn-sm btn-outline-info">Atualizar</button> |
    <button type="button" class="btn btn-sm btn-outline-danger">Excluir</button>
  </td>

</tr>

</table>

</div>




<div class="container p-5">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
            <h6>{{tituloFormulario}}</h6>
            <hr>
            <form [formGroup]="formulario"(ngSubmit)="EnviarFormulario()">

                  <div class="form-group">
                    <label>Arquivo Nome</label>
                      <input type="text" class="form-control form-control-sm" formControlName="ArquivoNome">
                  </div>

                  <div class="form-group">
                    <label>Tipo</label>
                      <input type="text" class="form-control form-control-sm" formControlName="Tipo">
                  </div>

                  <div class="form-group">
                    <label>Operador Nome</label>
                      <input type="text" class="form-control form-control-sm" formControlName="OperadorNome">
                  </div>

                  <div class="form-group">
                    <label>Data de Criacao</label>
                      <input type="datetime" class="form-control form-control-sm" formControlName="DataCriacao">
                  </div>
<br>
                      <div class="container">
                        <div class="row">

                            <div>
                                  <button type="Submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                            </div>

                            <div class="pl-1">
                                <button type="button" class="btn btn-sm btn-light">Voltar</button>
                            </div>

                        </div>
                      </div>
            </form>
        </div>
      </div>
  </div>


